elasticsearch-5.0.0/data/nodes/0/_state/global-*
elasticsearch-5.0.0/data/nodes/0/indices/yHho8ob1T5Wm73132S7BaQ/**
elasticsearch-5.0.0/data/nodes/0/_state/node-*
elasticsearch-5.0.0/logs/*
website/node_modules/**
npm-debug.log
