elasticsearch-5.0.0/data/nodes/0/indices/nmm9nhkASq-A7GssBG0fOA/0/translog/translog.ckp
elasticsearch-5.0.0/data/nodes/0/indices/nmm9nhkASq-A7GssBG0fOA/1/translog/translog.ckp
elasticsearch-5.0.0/data/nodes/0/indices/nmm9nhkASq-A7GssBG0fOA/2/translog/translog.ckp
elasticsearch-5.0.0/data/nodes/0/indices/nmm9nhkASq-A7GssBG0fOA/3/translog/translog.ckp
elasticsearch-5.0.0/data/nodes/0/indices/nmm9nhkASq-A7GssBG0fOA/4/translog/translog.ckp
elasticsearch-5.0.0/logs/*
npm-debug.log
