$orange: #FF6600;
$green: #07A68E;
$gray: #707070;
$gray_bg: #ecf0f1;

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/sample-banner.jpg") center no-repeat;
  background-size: cover;
  height: 400px;

  .title {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
  }

  button {
    border: 2px solid rgba(255,255,255,.7);

    &:hover {
      background-color: rgba(255,255,255,.3);
    }
  }

  ul li {
    float: right;

    .header-link {
      color: #fff;
    }
  }
}

.features-content {
  background-color: white;
  color: #73767c;
  padding-top: 100px;

  .title {
    color: darkblue;
    font-size: 24px;
  }

  .description {
    margin-top: 30px;
  }

  .img-content {
    margin-bottom: 30px;
  }
}

.fluid {
  width: 100%;
}

.border-radius {
  border-radius: 5px !important;
}

.default-bt {
  display: inline-block;
  padding: 10px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;

  &.no-border {
    border: none;
  }

  &.green {
    background-color: #07A68E;

    &:hover {
      background-color: darken(#07A68E, 10%);
    }
  }
}

.gray-bg {
  background-color: #ecf0f1;
}

.white-bg {
  background-color: #fff;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.border-radius {
  border-radius: 5px;
}

.dashboard-content {
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;

  .title {
    color: darkblue;
  }

  .block {
    padding: 20px;

    .title {
      color: darkblue;
      font-size: 35px;
    }
  }

  .menu {
    padding: 20px;

    .item {
      a {
        color: darken(#ecf0f1, 50%);
      }
    }
  }

  .new-complaint {
    background-color: #FF6600;
    color: white;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken(#FF6600, 10%);
    }
  }
}

.bold {
  font-weight: bold;
}

.login-container {

  margin-top: 50px;
  margin-bottom: 50px;

  .content-form {
    padding-top: 20px;
    padding-bottom: 20px;

    &.border-left {
      border-left: 2px solid #ecf0f1;
    }
  }

  .title {
    text-align: center;
    color: darken(#ecf0f1, 70%);
    font-size: 15px;
    font-weight: bold;
  }

  input {
    border-radius: 5px !important;
    box-shadow: none !important;
    height: 45px !important;
    font-size: 18px !important;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: darken(#ecf0f1, 50%);
    text-align: left;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: darken(#ecf0f1, 50%);
    text-align: left;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: darken(#ecf0f1, 50%);
    text-align: left;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: darken(#ecf0f1, 50%);
    text-align: left;
  }

  .login-bt {
    background-color: darkblue;
    color: white;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 65px;

    &:hover {
      background-color: darken(darkblue, 10%);
    }
  }

  .new-bt {
    background-color: #FF6600;
    color: white;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken(#FF6600, 10%);
    }
  }
}

.alert {
  padding: 10px 10px;
  font-weight: 500;
  font-size: 80%;
  margin-bottom: 5px;
  border-radius: 5px;

  &.danger {
    color: #C7254E;
    background-color: #F9F2F4;
  }

  &.success {
    color: #07A68E;
    background-color: #DAF4EB;
  }
}

.complaint-block {
  padding: 10px;
  color: $gray;

  .complaint-title {
    font-size: 18px;
  }
}

.no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.orange-color {
  color: $orange !important;
}

.gray-color {
  color: #707070 !important;
}

.green-color {
  color: $green !important;
}

.text-center {
  text-align: center;
}

.hover-links {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;

  &:hover {
    color: $orange !important;
  }
}

.input-small {
  width: 50%;
}