<!DOCTYPE html>
<html>
  <head>
    <script src="js/vue@2.3.3"></script>
    <script src="js/axios.min.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Siri Law BR</title>
  </head>
  <body class="gray-bg">
    <div class="dashboard-content gray-bg">
      <div class="row">
        <div class="large-3 columns">
          <div class="white-bg border-radius menu">
            <div class="item margin-bottom-20">
              <a href="#" class="bold">Geral</a>
            </div>
            <div class="item margin-bottom-20">
              <a href="#">Meus Dados</a>
            </div>
            <div class="item margin-bottom-20">
              <a href="#">Minhas Queixas</a>
            </div>
            <div class="item">
              <a href="#">Sair</a>
            </div>
          </div>
        </div>
        <div class="large-9 columns">
          <div class="white-bg border-radius">
            <div class="block">
              <div class="title">BEM VINDO</div>
              <p class="margin-top-20">Essa é seu dashboard contento suas últimas atividades</p>
            </div>
          </div>
          <div class="white-bg border-radius margin-top-20">
            <div class="block">
              <div class="title margin-bottom-20">ÚLTIMAS QUEIXAS</div>
              <table>
                <thead>
                  <tr>
                    <th>Queixa</th>
                    <th>Data</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Exemplo de queixa</td>
                    <td>19/11/2017</td>
                    <td>Satisfatório</td>
                  </tr>
                  <tr>
                    <td>Exemplo de queixa</td>
                    <td>20/11/2017</td>
                    <td>Bom</td>
                  </tr>
                  <tr>
                    <td>Exemplo de queixa</td>
                    <td>21/11/2017</td>
                    <td>Insatisfeito</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/home.js"></script>
  </body>
</html>
