<!DOCTYPE html>
<html>
<head>

  <script src="js/vue@2.3.3"></script>
  <script src="js/axios.min.js"></script>
  <script src='js/build/pdfmake.min.js'></script>
 	<script src='js/build/vfs_fonts.js'></script>
 	<script src='js/build/vuejs-dialog.min.js'></script>

  <link rel="shortcut icon" href="/public/imgs/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Meus Direitos Consumidor</title>

</head>
<body>
<div class="header" id="header-claim">
  <div class="loading-bg" v-if="loadingBool"></div>
  <div class="loading-window" v-if="loadingBool">
    <div class="title">Carregando Informações </div>
    <div class="img"></div>
  </div> 
  <div class="banner">
    <div class="row">
      <div class="columns">
        <div class="row">
          <div class="large-6 columns"></div>
          <div class="large-6 columns">
            <ul class="large-block-grid-4 text-center margin-top-20">
              <li>
                <% if (user && user.email) { %>
                  <a class="header-link" href="/dashboard">Dashboard</a>
                <% } else { %>
                  <a class="header-link" href="/login">Login</a>
                <% } %>
              </li>
              <!--
              <li>
                <a class="header-link" href="#">Contato</a>
              </li>
              -->
              <li>
                <a class="header-link" href="#features" @click.prevent="jumpToId('features')">Funcionalidades</a>
              </li>
              <li>
                <a class="header-link" href="#">Início</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <div class="title">
          <div>Mostrando os seus direitos de uma</div>
          <div>maneira rápida e fácil</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-offset-3 large-6 columns" id="claim-field" @keyup="ajaxSearchSW">
        <input class="fluid border-radius" v-model="claimData" id="textarea-claim" type="text" name="claim-field" :claim="claimData" :placeholder="phValue" autofocus>
      </div>
    </div>
    <div class="row">
      <div class="large-offset-5 large-2 columns">
       <button class="default-bt fluid" @click="ajaxSearchSW" >ENVIAR QUEIXA</button>
      </div>
    </div>
  </div>
</div>

<div id="features" class="features-content">
 <div class="row">
   <div class="large-offset-1 large-10 columns">
     <ul class="large-block-grid-3">
       <li>
         <div class="img-content">
           <img src="imgs/network.png">
         </div>
         <div class="title">Queixas similares</div>
         <div class="description">
           Descubra as queixas registradas dos usuários que se aproximam do seu caso para facilitar a busca.
         </div>
       </li>
       <li>
         <div class="img-content">
           <img src="imgs/law.png">
         </div>
         <div class="title">Conheça seus direitos</div>
         <div class="description">
           Saiba seus direitos legais de forma simples e intuitiva através do nosso chat com o robô informando qual o seu problema.
         </div>
       </li>
       <li>
         <div class="img-content">
           <img src="imgs/report.png">
         </div>
         <div class="title">Relatórios das Queixas</div>
         <div class="description">
           Obtenha um relatório completo das suas queixas registradas com as soluções legais que o robô encontrou.
         </div>
       </li>
     </ul>
   </div>
 </div>
</div>


<div id="div-chatbot">
  <header id="title-bar">
    <p>Seus direitos de consumidor mais claros para você</p>
  </header>
  <% if(adm){ %>
  <div id="results-search" v-if="resultsBool">
    <span class="title">{{ resultsTitle }}</span>
      <comp-result-units v-for="ru in resultUnits" :div-id="ru.divId" :span1-id="ru.span1Id" :data="ru.data" :key="ru.divId"></comp-result-units>
  </div>
  <% } %>
  <!--
  <div id="icons-bar">
    <div id="gear-icon" class="icon" @click="toggleConfigDiv(true)"></div>
  </div>
  -->
  <div id="chatbot-content">
    <div id="div-img-robot">
      <img src="imgs/cute_robot1.jpg"></img>
    </div>
    <div id="div-config" v-if="configDivBool">
      <span id="search-struct-config">Choose the type of documents you want to receive:</span>
      <span id="search-struct-config">
        <input type="radio" id="sectionRadio" value="section" v-model="configSearchStruct">
        <label for="sectionRadio"> Sections</label>
        <input type="radio" id="articleRadio" value="article" v-model="configSearchStruct">
        <label for="articleRadio"> Articles</label>
      </span>
    </div>
    <div id="div-opacity-config" v-if="configDivBool" @click="toggleConfigDiv(false)"></div>
    <span id="postagger-result" v-if="posDivShow" @click="showPosTagger">
      <p> {{posResult}}</p>
    </span>
    <div id="content">
      <div id="content-msgs">
        <comp-chat-msgs v-for="el in msgUnits" :div-id="el.id" :div-class="el.class" :data="el.data" :key="el.id"></comp-chatmsgs-el>
      </div>

      <div id="typingbox">
        <input type="text" name="chat-input" placeholder="Digite sua mensagem" @keyup="sendMessage" v-model="inputChatbot" ref="chatbot-input">
        <button id="btn-send-msg" @click="sendMessage" >Enviar</button> 
        <div id="divide"></div>
      </div>
    </div>
  </div>

  <!--position absolute -->
  <div class="div-view-report">

    <div class="div-report-header"> <!--position absolute -->

      <div class="div-pdf" @click="generatePDF()">
        <div class="icon-pdf"></div>
        <div class="text-pdf"> Gerar PDF </div>
      </div>

      <div class="div-newclaim" @click="clearReportDiv()">
        <div class="icon-newclaim"></div>
        <div class="text-newclaim"> Nova Queixa </div>
      </div>

    </div>

    <div class="div-report">
      <div class="div-report-title">
        <span class="icon-valid-claim" v-if="viewCase.validClaim" title="Esta queixa já ajudou diversos cidadãos"></span>
        O Artigo que pode endossar seu caso é descrito abaixo:
      </div>
      <div class="div-report-subject"></div>
      <div class="div-report-content"></div>

      <div class="div-report-claim-title" :class="{ active: reportClaimTitleBool}" @click="showClaimText" >Queixa descrita pelo usuário:</div>
      <div class="div-report-claim" v-show="reportClaimTitleBool">{{viewCase.claimText}}</div>

      <div class="voting">
        <div class="section-title" v-if="suggestionTitleBool"><center>Esse artigo está relacionado com a queixa que digitou?<center></div>
        <div class="div-report-voting" v-if="voteButtons.length > 0">
          <button v-for="bt in voteButtons" :id="bt.id" class="vote-button" @click="voteClaim(bt.id)">
            <span class="number-votes">{{ bt.count }}</span>  
          </button>
        </div>
        <div class="thanks-voting" v-if="thanksVotingBool">Seu voto foi computado com sucesso. Obrigado por participar</div>
      </div>

      <div class="section-title"><center>Casos Similares</center></div>
      <div class="similar-claim-loading" v-if="(gridSimilarClaims.data.length <= 0)&&(!emptySimilarCasesMessage)"></div>

      <div class="thanks-voting" v-if="emptySimilarCasesMessage"> Não foi encontrado nenhuma queixa similar a este caso</div>
      <!-- :filter-key="searchQueryClaims" -->
      <comp-similar-claim-units
        :data="gridSimilarClaims.data"
        :columns="gridSimilarClaims.columns">
      </comp-similar-claim-units>

      <div class="suggestion" v-if="expBool">
        <div class="section-title">Gostaria de adicionar alguma crítica ou sugestão?</div>
        <textarea name="suggestion" rows="3" cols="50" v-model="suggestionExpData"></textarea>
        <button @click="finishExperiment">Finalizar Experimento</button>
      </div>

    </div>
  </div>

</div>
<div id="alertBox" style="display: none;"></div>

<script src="js/home.js"></script>
<script>

  <% if(exp){ -%>
      console.log("Exp: <%=exp-%>");
      console.log("Experimento activated");
      app.expBool = true;
      app.termName = `<%=termName -%>`;
  <%}%>

  <% if(user){ -%>
      app.userId = "<%-user.id%>";
    <%}else{%>
      app.userId = "";
    <%}%>
</script>
</body>
</html>
