<!DOCTYPE html>
<html>
<head>

  <script src="js/vue@2.3.3"></script>
  <script src="js/axios.min.js"></script>

  <!--<link rel="shortcut icon" href="/public/imgs/favicon.ico" type="image/x-icon">-->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Meus Direitos Consumidor</title>
</head>
<body>

<div class="header" id="header-claim">
  <div class="banner">
    <div class="row">
      <div class="columns">
        <div class="row">
          <div class="large-6 columns"></div>
          <div class="large-6 columns">
            <ul class="large-block-grid-4 text-center margin-top-20">
              <li>
                <% if (user && user.email) { %>
                  <a class="header-link" href="/dashboard">Dashboard</a>
                <% } else { %>
                  <a class="header-link" href="/login">Login</a>
                <% } %>
              </li>
              <!--
              <li>
                <a class="header-link" href="#">Contato</a>
              </li>
              -->
              <li>
                <a class="header-link" href="#">Funcionalidades</a>
              </li>
              <li>
                <a class="header-link" href="#">Início</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <div class="title">
          <div>Mostrando os seus direitos de uma</div>
          <div>maneira rápida e fácil</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-offset-3 large-6 columns" id="claim-field" @keyup="ajaxSearchSW">
        <input class="fluid border-radius" v-model="claimData" id="textarea-claim" type="text" name="claim-field" :placeholder="phValue" autofocus>
      </div>
    </div>
    <div class="row">
      <div class="large-offset-5 large-2 columns">
       <button class="default-bt fluid" @click="ajaxSearchSW" >ABRIR QUEIXA</button>
      </div>
    </div>
  </div>
</div>

<div class="features-content">
 <div class="row">
   <div class="large-offset-1 large-10 columns">
     <ul class="large-block-grid-3">
       <li>
         <div class="img-content">
           <img src="imgs/network.png">
         </div>
         <div class="title">Queixas similares</div>
         <div class="description">
           Descubra as queixas registradas dos usuários que se aproximam do seu caso para facilitar a busca.
         </div>
       </li>
       <li>
         <div class="img-content">
           <img src="imgs/law.png">
         </div>
         <div class="title">Conheça seus direitos</div>
         <div class="description">
           Saiba seus direitos legais de forma simples e intuitiva através do nosso chat com o robô informando qual o seu problema.
         </div>
       </li>
       <li>
         <div class="img-content">
           <img src="imgs/report.png">
         </div>
         <div class="title">Relatórios das Queixas</div>
         <div class="description">
           Obtenha um relatório completo das suas queixas registradas com as soluções legais que o robô encontrou.
         </div>
       </li>
     </ul>
   </div>
 </div>
</div>

<div id="div-chatbot">
  <header id="title-bar">
    <p>Seus direitos de consumidor mais claros para você</p>
  </header>
  <!--
  <div id="icons-bar">
    <div id="gear-icon" class="icon" @click="toggleConfigDiv(true)"></div>
  </div>
  -->
  <div id="chatbot-content">
    <div id="div-img-robot">
      <img src="imgs/cute_robot1.jpg"></img>
    </div>
    <div id="div-config" v-if="configDivBool">
      <span id="search-struct-config">Choose the type of documents you want to receive:</span>
      <span id="search-struct-config">
        <input type="radio" id="sectionRadio" value="section" v-model="configSearchStruct">
        <label for="sectionRadio"> Sections</label>
        <input type="radio" id="articleRadio" value="article" v-model="configSearchStruct">
        <label for="articleRadio"> Articles</label>
      </span>
    </div>
    <div id="div-opacity-config" v-if="configDivBool" @click="toggleConfigDiv(false)"></div>
    <span id="postagger-result" v-if="posDivShow" @click="showPosTagger">
      <p> {{posResult}}</p>
    </span>
    <div id="content">
      <div id="content-msgs">
        <comp-chat-msgs v-for="el in msgUnits" :div-id="el.id" :div-class="el.class" :data="el.data" :key="el.id"></comp-chatmsgs-el>
      </div>

      <div id="typingbox">
        <input type="text" name="chat-input" placeholder="Digite sua mensagem" @keyup="sendMessage" v-model="inputChatbot" ref="chatbot-input">
        <button id="btn-send-msg">Enviar</button> 
        <div id="divide"></div>
      </div>
    </div>
  </div>

  <!--position absolute -->
  <div class="overlay">
  </div>

  <!--position absolute -->
  <div class="div-view-report">
    <div class="div-report-header"></div>
    <div class="div-report">
      <div class="div-report-title">O Artigo que endossa seu caso é descrito abaixo:</div>
      <div class="div-report-subject"></div>
      <div class="div-report-content"></div>
      <div class="div-report-suggestion"><center>Essa sugestão te ajudou a encontrar o que procurava?</center></div>
      <div class="div-report-voting">
        <button id="vote-pos" class="vote-button" @click="voteClaim('+')"></button>
        <button id="vote-neg" class="vote-button" @click="voteClaim('-')"></button>
      </div>
      <div class="div-report-suggestion"><center>Lista de Casos Similares</center></div>
      <table class="div-similar-claims">
        <tr>
          <th>Categoria</th>
          <th>Artigo</th>
          <th>Queixa</th>
          <th>Similaridade</th>
        </tr>
        <tr class="claim-unit-1">
          <td>Propaganda Enganosa</td>
          <td>22</td>
          <td>
            <div style="height:45px; overflow:hidden">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies feugiat vulputate. Quisque eu magna elementum, volutpat ex ut, euismod felis. Donec efficitur eros sit amet velit pellentesque tristique. Vestibulum sagittis molestie elit id interdum. Nam vitae ullamcorper arcu, eu blandit leo. Curabitur semper quis augue vitae placerat. Aliquam semper eget purus id mattis. Ut sit amet commodo neque. Aliquam erat volutpat. Duis et sem consequat, volutpat erat in, maximus eros. Nullam a tincidunt justo. Vivamus pellentesque nibh ante, vitae fermentum libero pulvinar et. Donec feugiat dictum ligula ac posuere.
            </div>
          </td>
          <td>90%</td>
        </tr>
        <tr class="claim-unit-2">
          <td>Informação Insuficiente</td>
          <td>53</td>
          <td>
            <div style="height:45px; overflow:hidden">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies feugiat vulputate. Quisque eu magna elementum, volutpat ex ut, euismod felis. Donec efficitur eros sit amet velit pellentesque tristique. Vestibulum sagittis molestie elit id interdum. Nam vitae ullamcorper arcu, eu blandit leo. Curabitur semper quis augue vitae placerat. Aliquam semper eget purus id mattis. Ut sit amet commodo neque. Aliquam erat volutpat. Duis et sem consequat, volutpat erat in, maximus eros. Nullam a tincidunt justo. Vivamus pellentesque nibh ante, vitae fermentum libero pulvinar et. Donec feugiat dictum ligula ac posuere.
            </div>
          </td>
          <td>44%</td>
        </tr>
        <tr class="claim-unit-2">
          <td>Abuso de Desinformação</td>
          <td>8</td>
          <td>
            <div style="height:45px; overflow:hidden">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies feugiat vulputate. Quisque eu magna elementum, volutpat ex ut, euismod felis. Donec efficitur eros sit amet velit pellentesque tristique. Vestibulum sagittis molestie elit id interdum. Nam vitae ullamcorper arcu, eu blandit leo. Curabitur semper quis augue vitae placerat. Aliquam semper eget purus id mattis. Ut sit amet commodo neque. Aliquam erat volutpat. Duis et sem consequat, volutpat erat in, maximus eros. Nullam a tincidunt justo. Vivamus pellentesque nibh ante, vitae fermentum libero pulvinar et. Donec feugiat dictum ligula ac posuere.
            </div>
          </td>
          <td>22%</td>
        </tr>
      </table>
    </div>
  </div>

<!--Exemplo do obj da queixa similar encontrada:
    *
    artId: 51
    artText:"↵Art. 51. São nulas de pleno direito, entre outras, as cláusulas contratuais relativas ao fornecimento de produtos e serviços que:↵↵I - impossibilitem, exonerem ou atenuem a responsabilidade do fornecedor por vícios de qualquer natureza dos produtos e serviços ou impliquem renúncia ou disposição de direitos. Nas relações de consumo entre o fornecedor e o consumidor pessoa jurídica, a indenização poderá ser limitada, em situações justificáveis;↵↵II - subtraiam ao consumidor a opção de reembolso da quantia já paga, nos casos previstos neste código;↵↵III - transfiram responsabilidades a terceiros;↵↵IV - estabeleçam obrigações consideradas iníquas, abusivas, que coloquem o consumidor em desvantagem exagerada, ou sejam incompatíveis com a boa-fé ou a eqüidade;↵↵V - (Vetado);↵↵VI - estabeleçam inversão do ônus da prova em prejuízo do consumidor;↵↵VII - determinem a utilização compulsória de arbitragem;↵↵VIII - imponham representante para concluir ou realizar outro negócio jurídico pelo consumidor;↵↵IX - deixem ao fornecedor a opção de concluir ou não o contrato, embora obrigando o consumidor;↵↵X - permitam ao fornecedor, direta ou indiretamente, variação do preço de maneira unilateral;↵↵XI - autorizem o fornecedor a cancelar o contrato unilateralmente, sem que igual direito seja conferido ao consumidor;↵↵XII - obriguem o consumidor a ressarcir os custos de cobrança de sua obrigação, sem que igual direito lhe seja conferido contra o fornecedor;↵↵XIII - autorizem o fornecedor a modificar unilateralmente o conteúdo ou a qualidade do contrato, após sua celebração;↵↵XIV - infrinjam ou possibilitem a violação de normas ambientais;↵↵XV - estejam em desacordo com o sistema de proteção ao consumidor;↵↵XVI - possibilitem a renúncia do direito de indenização por benfeitorias necessárias.↵↵§ 1º Presume-se exagerada, entre outros casos, a vantagem que:↵↵I - ofende os princípios fundamentais do sistema jurídico a que pertence;↵↵II - restringe direitos ou obrigações fundamentais inerentes à natureza do contrato, de tal modo a ameaçar seu objeto ou equilíbrio contratual;↵↵III - se mostra excessivamente onerosa para o consumidor, considerando-se a natureza e conteúdo do contrato, o interesse das partes e outras circunstâncias peculiares ao caso.↵↵§ 2° A nulidade de uma cláusula contratual abusiva não invalida o contrato, exceto quando de sua ausência, apesar dos esforços de integração, decorrer ônus excessivo a qualquer das partes.↵↵§ 3° (Vetado).↵↵§ 4° É facultado a qualquer consumidor ou entidade que o represente requerer ao Ministério Público que ajuíze a competente ação para ser declarada a nulidade de cláusula contratual que contrarie o disposto neste código ou de qualquer forma não assegure o justo equilíbrio entre direitos e obrigações das partes.↵"
    id:311
    voteNeg:0
    votePos:1
    *
    <div class="div-similar-claims">
      <div class="similar-claim-loading">
      </div> 
      <comp-similar-claim-units v-for="el in simClaimUnits" :claim-id="el.id" :claim-text="el.claimText" :artiid="el.artId" :art-text="el.artText" :key="el.id"></comp-chatmsgs-el>
    </div>
-->

  </div>
</div>

<script src="js/home.js"></script>
</body>
</html>
