<!DOCTYPE html>
<html>
  <head>
    <script src="js/vue@2.3.3"></script>
    <script src="js/axios.min.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Siri Law BR</title>
  </head>
  <body class="gray-bg">
    <div class="row">
      <div class="large-offset-2 large-8 columns">
      </div>
    </div>
    <% if (sessionFlash && sessionFlash.message) { %>
      <div class="row margin-top-20">
        <div class="large-offset-2 large-8 columns alert <%= sessionFlash.type %>">
          <%= sessionFlash.message %>
        </div>
      </div>
    <% }%>
    <div class="row" id="div-login-form">
      <div class="large-offset-2 large-8 columns white-bg login-container">
        <div class="large-6 columns content-form">
          <div class="title">JÁ TENHO CADASTRO</div>
          <form action="/signin" method="post" @submit.prevent="login">
            <input type="text" v-model="email" name="email" class="fluid margin-top-20" placeholder="E-mail" required>
            <input type="password" v-model="password" name="password" class="fluid" placeholder="Sua senha" required>
            <button class="fluid login-bt">ENTRAR</button>  
          </form>
        </div>
        <div class="large-6 columns content-form border-left">
          <div class="title">NÃO TENHO CADASTRO</div>
          <form action="/signup" method="post">
            <input type="text" name="name" class="fluid margin-top-20" placeholder="Nome" required>
            <input type="text" name="email" class="fluid margin-top-20" placeholder="E-mail" required>
            <input type="password" name="password" class="fluid" placeholder="Sua senha" required>
            <button class="fluid new-bt">CRIAR</button>  
          </form>
        </div>
      </div>
    </div>

    <script> 
    var loginApp = new Vue({
      el: '#div-login-form',
      data: function(){
        return {
          email: "",
          password: "",
          alertMessage: "",
        }
      },
      methods: {
        login: () => {
          axios.post('/signin',{
            email: loginApp.email, password: loginApp.password 
          }).then((res) =>{
            window.location = res.data.url;
          }).catch((e) =>{
            console.dir(e);
          });
        }
      }
    });
    </script>

  </body>
</html>
