<!DOCTYPE html>
<html>
  <head>
    <script src="js/vue@2.3.3"></script>
    <script src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.mask.js"></script>

    <link rel="shortcut icon" href="/public/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Meus Direitos Consumidor</title>
  </head>
  <body class="gray-bg">
    <div class="row">
      <div class="large-offset-2 large-8 columns">
      </div>
    </div>
    <% if (sessionFlash && sessionFlash.message) { %>
      <div class="row margin-top-20">
        <div class="large-offset-2 large-8 columns alert <%= sessionFlash.type %>">
          <%= sessionFlash.message %>
        </div>
      </div>
    <% }%>
    <div class="row" id="div-login-form">
      <div class="large-offset-1 large-10 columns white-bg login-container">
        <div class="header-login-form" @click="goTo('../')">
          <div class="header-content">
            <div class="img"></div>
            <div class="text">MeusDireitosConsumidor.com.br</div>
          </div>
        </div>
        <div class="large-6 columns content-form">
          <div class="title">JÁ TENHO CADASTRO</div>
          <form action="/signin" method="post" @submit.prevent="login">
            <input type="text" v-model="email" name="email" class="fluid margin-top-20" placeholder="E-mail" required>
            <input type="password" v-model="password" name="password" class="fluid" placeholder="Sua senha" required>
            <button class="fluid login-bt">Entrar</button>  
          </form>
        </div>
        <div class="large-6 columns content-form border-left">
          <div class="title">NÃO TENHO CADASTRO</div>
          <form action="/signup" method="post">
            <input type="text" name="name" class="fluid margin-top-20" placeholder="Nome" required>
            <input type="text" name="email" class="fluid margin-top-20" placeholder="E-mail" required>
            <input type="password" name="password" class="fluid margin-bottom-20" placeholder="Sua senha" required>
            <span>Dados opcionais (Necessários para emissão de relatórios)</span>
            <div class="row margin-top-20">
              <div class="large-6 columns">
                <input id="phone" type="text" name="phone" class="fluid" placeholder="Telefone">
              </div>
              <div class="large-6 columns">
                <input id="cpf" type="text" name="cpf" class="fluid" placeholder="CPF">
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <input id="cep" class="fluid" type="text" name="cep" placeholder="CEP">
              </div>
              <div class="large-6 columns margin-top-10">
                <a id="checkCep" class="orange-color">Consultar</a>
              </div>
            </div>
            <input id="street" class="fluid" type="text" name="street" placeholder="Endereço">
            <input class="input-small" type="text" name="number" placeholder="Número">
            <input class="fluid" type="text" name="complement" placeholder="Complemento">
            <input id="district" class="input-small" type="text" name="district" placeholder="Bairro">
            <div class="row">
              <div class="large-6 columns">
                <input id="city" class="fluid" type="text" name="city" placeholder="Cidade">
              </div>
              <div class="large-6 columns">
                <input id="state" class="fluid" type="text" name="state" placeholder="Estado">
              </div>
            </div>
            <button class="fluid new-bt">Registrar</button>  
          </form>
        </div>
      </div>
    </div>

    <script> 
    var loginApp = new Vue({
      el: '#div-login-form',
      data: function(){
        return {
          email: "",
          password: "",
          alertMessage: "",
        }
      },
      methods: {
        login: () => {
          axios.post('/signin',{
            email: loginApp.email, password: loginApp.password 
          }).then((res) =>{
            window.location = res.data.url;
          }).catch((e) =>{
            console.dir(e);
          });
        },
        goTo: (str) =>{
          location.href=str;
        }
      }
    });

    $("#phone").mask("(00) 000000000");
    $('#cpf').mask('000.000.000-00', {reverse: true});

    $("#checkCep").click(function(){
      var cep = $("#cep").val();

      $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
        if (!("erro" in dados)) {
          $("#street").val(dados.logradouro);
          $("#district").val(dados.bairro);
          $("#city").val(dados.localidade);
          $("#state").val(dados.uf);
        }else{
          alert("CEP inválido");
        }
      });
    })
    </script>

  </body>
</html>
