*{
  margin: 0 auto;
}

@media (max-width: 860px){
  body{ 
    width: 100%;
    height: 600px;
  }
  
  #div-config{
    position: absolute;
    top: 40%;
    left: 28%;
    width: 40%;
    height: 60px;
    padding: 15px;
    z-index: 9;
    border-width: 2px;
    border-color: #9191ff;
    border-style: solid;
    background-color: white;
  }

  /* Place Holder */

  ::-webkit-input-placeholder {
    font-size: 13px;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-size: 13px;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 13px;
    text-align: center;
  }

  :-ms-input-placeholder {
    font-size: 13px;
    text-align: center;
  }
}

@media (min-width: 860px) and (max-width: 1680px){

  #div-config{
    position: absolute;
    top: 40%;
    left: 33%;
    width: 400px;
    height: 60px;
    padding: 15px;
    z-index: 9;
    border-width: 2px;
    border-color: #9191ff;
    border-style: solid;
    background-color: white;
  }

  /* Place Holder */

  ::-webkit-input-placeholder {
    font-size: 15px;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 15px;
    text-align: center;
  }

  :-ms-input-placeholder {
    font-size: 15px;
    text-align: center;
  }
}

@media (min-width: 1680px) and (max-width: 1920px){
  body{
    width: 1680px;
    height: 800px;
  }

  #div-config{
    position: absolute;
    top: 40%;
    left: 38%;
    width: 440px;
    height: 50px;
    padding: 15px;
    z-index: 9;
    border-width: 2px;
    border-color: #9191ff;
    border-style: solid;
    background-color: white;
  }

  /* Place Holder */

  ::-webkit-input-placeholder {
    font-size: 15px;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 15px;
    text-align: center;
  }

  :-ms-input-placeholder {
    font-size: 15px;
    text-align: center;
  }
}



#div-top{
  height: 60%;
}

#div-bottom{
  width: 100%;
  height: auto;
}

#div-opacity-config{
  background-color:#485565;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 8;
  opacity: 0.4;
}



#sw-field{
  margin-top:1%;
}

#sw-field input{
    height: 35px;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    font-size: 13px;
    padding: 0 3%;
}

#sw-field,
#sw-field input{
  width:100%;
}

#claim-field input,
#claim-field textarea{
  width:100%;
}

#claim-field input{
  border-style: solid;
  border-color: #9191ff;
  height: 35px;
  line-height: 20px;
}

#claim-field textarea{
  border-style: solid;
  border-color: #9191ff;
  line-height: 20px;
  font-family: serif;
  font-size: 16px;
  color: #332a33;
}


#results-search{
  width: 100%;
  height: 100%;
}

#results-search .title{
  width: 100%;
  display: inline-block;
  padding: 0 0.5em;
}

#div-chatbot{
  height: 100%;
}

#div-chatbot span{
  display:block;
}

#div-chatbot span.b{
  display: inline;
}

#icons-bar{
  width:100%;
  height: 30px;
}

#gear-icon{
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  content:url("../imgs/icon_gear1.png");
}

.ruIcons{
  width: 2%;
  height: 35px;
  line-height: 35px;
  position: relative;
  float: left;
  font-size: 18px;
}

.ruText{
  width: 98%;
  height: 45px;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  position: relative;
  float: left;
}

.resultUnit{
  width: 100%;
  height: 45px;
  border-style: solid;
  border-width: 2px;
  padding: 0.5%;
  margin: 0.5%;
  background: linear-gradient(#f7dcdc, white);
}

.resultUnit:hover{
  cursor:pointer;
}

#table-similar-claims td{
  min-width: 200px;
}
#table-similar-claims tr:nth-child(even){ 
  background-color: #f1f1f1;
}

.div-similar-claims{
  text-align: center;
}

.similar-claim-row{
  height: 40px;
  line-height: 40px;
}

#table-similar-claims tr:hover{
  background-color: #d1d1ea;
  cursor:pointer;
}

.similarity{
  width: 40px;
  border-radius: 20px;
  margin: auto;
}

.claim-text{
  text-overflow: clip;
  overflow: hidden;
  max-width: 80%;
  max-height: 45px;
  line-height: 20px;
  margin: auto;
}

.similar-high{
  background-color: #7aff60;
}

.similar-good{
  background-color: orange;
}

.similar-low{
  background-color: red;
}

#search-options{
  margin-bottom: 10px;
}

#search-options label{
  font-size: 18px;
  color: #757575;
}

#posCheckbox{
  font-size:15px;
  width: 17px;
  height: 17px;
}

#postagger-result{
  width: 80%;
  background-color: slategray;
  z-index: 99;
  position: absolute;
  left: 10%;
  top: 50%;
}

#postagger-tab{
  background-color:#006ca9;
}

#keywords-tab{
  background-color:red;
}

#synonyms-tab{
  background-color:green;
}

#tabs{
  width: 410px;
}
.tab-unit{
  position: relative;
  float:left;
  color:white;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
  font-size: 15px;
  margin-bottom: -4px;
  width: 33.33%;
  height: 1.5em;
}



/*
 * General Tags 
 */

.b{
  font-weight: bold;
}

/*
 * Effects
 */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to{
  opacity: 0;
}

/*  Chatbot Div */ 

#div-img-robot{
  text-align:center;
  float: left;
  width: 45%;
  height: 380px;
  margin-left: 3%;
}

#div-img-robot img{
  height: 100%;
}
#title-bar{
  width: 100%;
  height: 40px;
  //line-height: 30px;
  text-align: center;
  background-color: white;
  padding: 5px 0px;
  background-color: #1c227c;
  color: white;
  margin: 10px 0px;
}

#title-bar p{
  font-weight: bold;
}

#chatbot-content #content{
  width: 48%;
  height: 320px;
  //background-color: darkblue;
  background-color: #f5e6e9;
  float:right;
  border-radius: 10px;
  margin-top: 2%;
  margin-right: 3%;
}

#chatbot-content #content > div{
  width: 100%;
  min-height: 40px;
  padding: 8px 1%;
}

#chatbot-content #content-msgs{
  height: 88%;
  overflow-y: auto;
}

#content-msgs > div{
  overflow: hidden;
}

.msg-unit-el{
  min-height: 55px;
  margin: 2% 0px;
  position: relative;
}

.msg-unit-el:after{
  content: '';
  display: block;
  clear: both;
}

.msg-text{
  width: 85%;
  //max-width: 85%;
  min-height: 0;
  //min-height: 90%;
  border-radius: 9px;
  padding: 5px;
  text-align: center;
  font-size: 14px;

}

.msg-photo{
  background-color: white;
}

.div-bot .msg-text{
  //background-color: #e9ebf1;
  background-color: #1c227c;
  color: white;
  float: left;
}

.div-bot .msg-photo{
  width: 53px;
  height: 50px;
  border-radius: 50%;
  float: right;
  background-image: url("../imgs/robot_face.png");
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: center;
}

.div-user .msg-text{
  background-color: white;
  color: darkblue;
  float: right;
/*
  position: absolute;
  bottom: 10px;
  left: 60px;
  */
}

.div-user .msg-photo{
  width: 53px;
  height: 50px;
  border-radius: 50%;
  float: left;
  background-image: url("../imgs/user_face.png");
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: center;
}

#typingbox{
  background-color: white;
  height: 31px;
  border-radius: 9px;
  box-sizing: inherit;
  box-shadow: none;
  border-bottom: 1px solid darkblue;
  overflow-y: hidden;
}

#typingbox input{
  width: 70%;
  height: 30px;
  padding: 0px 6px;
  border: none;
  font-size: 15px;
  outline: none;
  float: left;
  box-sizing: content-box;
  box-shadow: none;
}


#btn-send-msg{
  float: right;
  width: 80px;
  height: 25px;
  padding: 5px;
  //margin-top: 4px;
  border-radius: 9px;
  border: 0px;
  background-color: white;
  color: darkblue;
  font-size: 13px;
}

#divide{
  width: 1px;
  height: 70%;
  background-color: darkblue;
  float: right;
  margin: 5px 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c3a6ab;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c3a6ab;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c3a6ab;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c3a6ab;
}

.div-view-report{
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  margin: 7%;
  display: none;
  padding: 2%;
  border: 2px solid #1c227c;
  z-index: 2
}

.div-report-content{
  white-space: pre-wrap;
}

.thanks-voting{
  background-color: #dad7d7;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  color: #2f2f2f;
  margin-top:10px;
  text-align: center;
}

.overlay{
  width: 100%;
  height: 240%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: block;
}

.div-report-header{
  position: absolute;
  top: -40px;
  right: 0px;
  font-weight: bold;
}

.div-pdf, .div-newclaim{
  cursor: pointer;
  color: white;
}

.div-pdf{
  float: left;
}

.div-newclaim{
  float: right;
}

.icon-pdf, .icon-newclaim{
  width: 40px;
  height: 40px;
  float: left;
}

.text-pdf{
  width: 130px;
  padding: 5px;
}

.text-newclaim{
  width: 150px;
  padding: 5px;
}

.div-report-title{
  font-size: 23px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #1c227c;
}

.div-report-subject{
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.div-suggestion-title, .div-title-similar-cases{
  font-weight: bold;
  margin: 10px 0px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #1c227c;
}

.div-report-divide{
  padding: 2px;
  background-color: #1c227c;
}

.div-report-voting{
  text-align: center;
}

.vote-button{
  width: 110px;
  height: 77px;
  background-repeat: no-repeat;
}


.vote-button:hover{
  animation: pulse 2s infinite;
  animation-direction: alternate;
  animation-name: pulse;
}

.similar-claim-loading{
  height: 70px;
  background: url("../imgs/Rolling.gif") center no-repeat;
}

@keyframes pulse{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);

  }
}

#vote-pos{
  background-image: url("../imgs/vote_pos.png");
}

#vote-neg{
  background-image: url("../imgs/vote_neg.png");
}
