*{
  margin: 0 auto;
}

@media (max-width: 860px){
  body{ 
    width: 100%;
  }
  
  #div-config{
    position: absolute;
    top: 40%;
    left: 28%;
    width: 40%;
    height: 60px;
    padding: 15px;
    z-index: 9;
    border-width: 2px;
    border-color: #9191ff;
    border-style: solid;
    background-color: white;
  }

  /* Place Holder */

  ::-webkit-input-placeholder {
    font-size: 13px;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-size: 13px;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 13px;
    text-align: center;
  }

  :-ms-input-placeholder {
    font-size: 13px;
    text-align: center;
  }
}

@media (min-width: 860px) and (max-width: 1680px){

  #div-config{
    position: absolute;
    top: 40%;
    left: 33%;
    width: 400px;
    height: 60px;
    padding: 15px;
    z-index: 9;
    border-width: 2px;
    border-color: #9191ff;
    border-style: solid;
    background-color: white;
  }

  /* Place Holder */

  ::-webkit-input-placeholder {
    font-size: 15px;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 15px;
    text-align: center;
  }

  :-ms-input-placeholder {
    font-size: 15px;
    text-align: center;
  }
}

@media (min-width: 1680px) and (max-width: 1920px){
  #div-config{
    position: absolute;
    top: 40%;
    left: 38%;
    width: 440px;
    height: 50px;
    padding: 15px;
    z-index: 9;
    border-width: 2px;
    border-color: #9191ff;
    border-style: solid;
    background-color: white;
  }

  /* Place Holder */

  ::-webkit-input-placeholder {
    font-size: 15px;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 15px;
    text-align: center;
  }

  :-ms-input-placeholder {
    font-size: 15px;
    text-align: center;
  }
}



#div-top{
  height: 60%;
}

#div-bottom{
  width: 100%;
  height: auto;
}

#div-opacity-config{
  background-color:#485565;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 8;
  opacity: 0.4;
}



#sw-field{
  margin-top:1%;
}

#sw-field input{
    height: 35px;
    border-style: solid;
    border-color: red;
    border-width: 2px;
    font-size: 13px;
    padding: 0 3%;
}

#sw-field,
#sw-field input{
  width:100%;
}

#claim-field input,
#claim-field textarea{
  width:100%;
}

#claim-field input{
  border-style: solid;
  border-color: #9191ff;
  height: 35px;
  line-height: 20px;
}

#claim-field textarea{
  border-style: solid;
  border-color: #9191ff;
  line-height: 20px;
  font-family: serif;
  font-size: 16px;
  color: #332a33;
}


#results-search{
  width: 100%;
  height: 100%;
}

#results-search .title{
  width: 100%;
  display: inline-block;
  padding: 0 0.5em;
}

#div-chatbot{
  height: 100%;
}

#div-chatbot span.b{
  display: inline;
}

#icons-bar{
  width:100%;
  height: 30px;
}

#gear-icon{
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
  content:url("../imgs/icon_gear1.png");
}

.ruIcons{
  width: 2%;
  height: 35px;
  line-height: 35px;
  position: relative;
  float: left;
  font-size: 18px;
}

.ruText{

  width: 98%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  float: left;
}

.resultUnit{
  width: 100%;
  height: 45px;
  border-style: solid;
  border-width: 2px;
  padding: 0.5%;
  margin: 0.5%;
  background: linear-gradient(#f7dcdc, white);
}

.resultUnit:hover{
  cursor:pointer;
}

#table-similar-claims td{
  min-width: 200px;
}
#table-similar-claims tr:nth-child(even){ 
  background-color: #f1f1f1;
}

.div-similar-claims{
  text-align: center;}
  .div-similar-claims th{
    opacity: 0.7;}
  .div-similar-claims th span.arrow{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;}
  .div-similar-claims th.active{
    opacity: 1;}
    .div-similar-claims th.active .arrow.asc{
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #1c227c;}
    .div-similar-claims th.active .arrow.desc{
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #1c227c;}

.similar-claim-row{
  height: 40px;
  line-height: 40px;}

#table-similar-claims tr:hover{
  background-color: #d1d1ea;
  cursor:pointer;
}

.similarity{
  width: 40px;
  border-radius: 20px;
  margin: auto;
}

.claim-text{
  text-overflow: clip;
  overflow: hidden;
  max-width: 80%;
  max-height: 40px;
  line-height: 20px;
  margin: auto;
}

.similar-high{
  background-color: #7aff60;
}

.similar-good{
  background-color: orange;
}

.similar-low{
  background-color: #e84545;
}

#search-options{
  margin-bottom: 10px;
}

#search-options label{
  font-size: 18px;
  color: #757575;
}

#posCheckbox{
  font-size:15px;
  width: 17px;
  height: 17px;
}

#postagger-result{
  width: 80%;
  background-color: slategray;
  z-index: 99;
  position: absolute;
  left: 10%;
  top: 50%;
}

#postagger-tab{
  background-color:#006ca9;
}

#keywords-tab{
  background-color:red;
}

#synonyms-tab{
  background-color:green;
}

#tabs{
  width: 410px;
}
.tab-unit{
  position: relative;
  float:left;
  color:white;
  font-weight:bold;
  text-align:center;
  cursor:pointer;
  font-size: 15px;
  margin-bottom: -4px;
  width: 33.33%;
  height: 1.5em;
}



/*
 * General Tags 
 */

.b{
  font-weight: bold;
}

/*
 * Effects
 */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to{
  opacity: 0;
}

/*  Chatbot Div */ 

#div-img-robot{
  text-align:center;
  float: left;
  width: 45%;
  height: 380px;
  margin-left: 3%;
}

#div-img-robot img{
  height: 100%;
}
#title-bar{
  width: 100%;
  height: 40px;
  //line-height: 30px;
  text-align: center;
  background-color: white;
  padding: 5px 0px;
  background-color: #1c227c;
  color: white;
  margin: 10px 0px;
}

#title-bar p{
  font-weight: bold;
}

#chatbot-content #content{
  width: 48%;
  height: 320px;
  //background-color: darkblue;
  background-color: #f5e6e9;
  float:right;
  border-radius: 10px;
  margin-top: 2%;
  margin-right: 3%;
}

#chatbot-content #content > div{
  width: 100%;
  min-height: 40px;
  padding: 8px 1%;
}

#chatbot-content #content-msgs{
  height: 88%;
  overflow-y: auto;
}

#content-msgs > div{
  overflow: hidden;
}

.msg-unit-el{
  min-height: 55px;
  margin: 2% 0px;
  position: relative;
}

.msg-unit-el:after{
  content: '';
  display: block;
  clear: both;
}

.msg-text{
  width: 85%;
  //max-width: 85%;
  min-height: 0;
  //min-height: 90%;
  border-radius: 9px;
  padding: 2px 7px;
  text-align: left;
  font-size: 14px;

}

.msg-photo{
  background-color: white;
}

.div-bot .msg-text{
  //background-color: #e9ebf1;
  background-color: #1c227c;
  color: white;
  float: left;
  text-align: justify;
}

.div-bot .msg-photo{
  width: 53px;
  height: 50px;
  border-radius: 50%;
  float: right;
  background-image: url("../imgs/robot_face.png");
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: center;
}

.div-user .msg-text{
  background-color: white;
  color: darkblue;
  float: right;
/*
  position: absolute;
  bottom: 10px;
  left: 60px;
  */
}

.div-user .msg-photo{
  width: 53px;
  height: 50px;
  border-radius: 50%;
  float: left;
  background-image: url("../imgs/user_face.png");
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: center;
}

#typingbox{
  background-color: white;
  height: 31px;
  border-radius: 9px;
  box-sizing: inherit;
  box-shadow: none;
  border-bottom: 1px solid darkblue;
  overflow-y: hidden;
}

#typingbox input{
  width: 70%;
  height: 30px;
  padding: 0px 6px;
  border: none;
  font-size: 15px;
  outline: none;
  float: left;
  box-sizing: content-box;
  box-shadow: none;
}


#btn-send-msg{
  float: right;
  width: 80px;
  height: 25px;
  padding: 5px;
  //margin-top: 4px;
  border-radius: 9px;
  border: 0px;
  background-color: white;
  color: darkblue;
  font-size: 13px;
}

#divide{
  width: 1px;
  height: 70%;
  background-color: darkblue;
  float: right;
  margin: 5px 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c3a6ab;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c3a6ab;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c3a6ab;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c3a6ab;
}

.div-view-report{
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  margin: 7%;
  display: none;
  padding: 2%;
  border: 2px solid #1c227c;
  z-index: 2
}

.div-report-content{
  white-space: pre-wrap;
}

.thanks-voting{
  background-color: #dad7d7;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  color: #2f2f2f;
  margin-top:10px;
  text-align: center;
}

.overlay{
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: block;
}

.div-report-header{
  position: absolute;
  top: -40px;
  right: 0px;
  font-weight: bold;
}

.div-pdf, .div-newclaim{
  cursor: pointer;
  color: white;
}

.div-pdf{
  float: left;
}

.div-newclaim{
  float: right;
}

.icon-pdf, .icon-newclaim{
  width: 40px;
  height: 40px;
  float: left;
}

.text-pdf{
  width: 130px;
  padding: 5px;
}

.text-newclaim{
  width: 150px;
  padding: 5px;
}

.div-report-title{
  font-size: 23px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #1c227c;
}

.div-report-subject{
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.div-suggestion-title, .div-title-similar-cases, .div-report-claim-title, .section-title{
  font-weight: bold;
  margin: 10px 0px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #1c227c;
}

.div-report-claim-title{
  cursor: pointer;
}

.div-report-divide{
  padding: 2px;
  background-color: #1c227c;
}

.div-report-voting{
  height: 75px;
  text-align: center;
}

.vote-button{
  transform: scale(0.8);
  width: 110px;
  height: 77px;
  background-repeat: no-repeat;}
  .vote-button#vote-pos .number-votes{
    float: left;
    margin-left: -30px;
    color: #148dcf;
    font-size: 20px;
  }
  .vote-button#vote-neg .number-votes{
    float: left;
    margin-left: -30px;
    color: #cc4131;
    font-size: 20px;
  }

.vote-button:hover{
  transform: scale(0.8);
  animation: pulse 2s infinite;
  animation-direction: alternate;
  animation-name: pulse;
}

.similar-claim-loading{
  height: 70px;
  background: url("../imgs/Rolling.gif") center no-repeat;
}

@keyframes pulse{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);

  }
}

#vote-pos{
  width: 107px;
  margin-right: 15px;
  background-image: url("../imgs/vote_pos.png");
}

#vote-neg{
  width: 107px;
  margin-left: 15px;
  background-image: url("../imgs/vote_neg.png");
}

.complaint-block:hover{
  cursor: pointer;
  border: 2px solid orange;
}

/*
 * Login Form
 */

.header-login-form{
  margin-top: 20px;
  margin-bottom: 10px;
  height: 48px;
  line-height: 48px;
  background-color: #1c227c;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;}
  .header-login-form .header-content{
    margin: auto;
    width: 300px;
  }
  .header-login-form .header-content .text{
    width: 240px;
    text-align: center;
    float: left;}
  .header-login-form .header-content .img{
    width: 50px;
    height: 45px;
    transform: scale(0.8);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAEhNJREFUeNrsWWmMXeV5fs5293VWXy/4znhsw8SYsQFBAwGXQgVZiqsqauImKrQJUqu24FZqyw8aqkRJpSQCQqKmKQ2iasISWkxcSigkHlPACzQe7+N1ZuxZPOtd5q5n7fN9584WQE3bcUSkntHRnXvvOed7n3d53uf9LvALOsqWua3uVFOX6/nK5TT+y8+9tq1gOfd3r1u9vVi1EUnHMVM1+65Ihv/6t7vX7vrAA/n+/lOp6YnxFzpXtW27dmMWhupBVTXEdAV1z8WzR4cxa9V/84EbupcNjLrcIB544qXUm0fO7One1L0tnMniSE7BobyGn854OJm3EVJVfPaaLCYL1u8u57rLDuTJVw/fc1XPtT0zShQ1C/AUD64L2J6KquMngeJ50APLmwz6cgP51F0fvtWIRZB3mEauh9xUEePjY2iJMBI3rINLEM+fvIjWUPSpDzSQan1mb1PQ3T5ctVDRVRwdGEVMrSFgeRgYyWOoVu5NxlM7d1zd1rec62rLDeSM0tE/W6zcGI5EstOzNRa3isGzFxHQLBhKYOeOG676g+8/+tVLy73uskeksvtv8rt341cP/P6TWdNzs+7U0GBXd/cLWzZ09pwfGb9sVK9frgdP/MO9g3wRJ4LXPJ9KRCNQXOt+vn30cqyn4jIfbw6NZV3HzAYUCyUEso+/dOCRD3xnr9pulgybHS2b2HdiBCcujOHlfSfu3tSZeWBjJg6Vqx2/mMdtWzfs3HLVmr4NTVEE6UrFdfuCup7/hQMZLFV7nnvtcE8d6jWT+WrPZL7ck6+aqRopdypXRG62DM/TEAwFEQoGYGiqDL7pOjBNC7Uq7/QsxKJhpBIxJILs+mGN/Ubp29qVyTuOtTcTU/p+65ar+1rCkcFlA1K3aqndR0e3/91LB281XWP7RKGSGp2Zxdr2BLZ2tuL6dRlc0RxDnBWXDAWQiBiIhgMIasp8BitsjCIioFRhK4FJ0MVKFflyHUKH5U0Xw1Ml9A2M4eRwAedGJ7GiNY2WaCif0M3eO3+le++nb9nQm9CCff9jIG+cGut5/N8OfuH0pep23bNx6+ZOrG8OoXtlFKsSQdTp2bpZh+PYYPOmgR4NVvzuDW/+8Z748xrvGivOvxeMY+iMXAghOkHXDWg8RbQsRcPR82N4Z2AKI0UH+08O0EnhQVXTdn1xx817r1vbvOu/BXLXH3+5Z6Bo7fmre7en7rxhI+qFovRqabaIPP/32ILEe8yZ7QljXaaOiUAggBoBapoGXdN5nfq/ynnxzIBhIJ6IE2QIqWQMCARZe5N449ggHM8bvHFz586bOjK73pN+v/T0v9/z+HO9jzz8uY+lQokoPNtBqVSU/VMhY8djCZQrFXiUIJ7igzB0HZmVGaTTKWhMH5egcvk8Ll4cJjib6ldpROv9Dj9qlmVJEAqfIZ5Zt2yY0zPyiuFRBWFGrT2VxB/eeT2qlpnd+VTv3fzq3UC+/i+9BLH3yc9/+g58d8RF/+EBHF6Zgsswz/lVeDoRi6FSq8HkwpFIGB3ZLIIs7DljNb42p9NIc9Ez585jJldAQNekr/0UXJwQjC8j19rSzLOFqaXRCQWMjIzArtfld3NX12omLo1NwGZNZa7I4MLEbPZdfWTHQ9/q+ebzvU9+7Lat+O6gjXfGa6gG4hhjQRqOK/NeeotWKJTjkXAYyXgcnR0dTCcDVTLS2GQBls2a8RzpYZWzyPqudYgSrCwbfhgim2lMN12kHo3W+KwrN6zHSkY0ENTl+5amNDZv+hDa29rgCPm8JO8Upnde5ke9bm9bAuR7e49kD5wd29Oz6Uo8Ox3CpTqNNgJwaey5qYJfsG7jFPXQuK+trZUgdAny8LEh3HHPt/GRz3wTP3j1CK+1abiIpIJ1HVl5jwBvqDpTJMwCD8p6auUzgiFDpqNLh/FG6SyVgK5YsxopRvVnD+Esk9HR6cCb/+xbqXnRqHVdt6dldSb7tt6OiRpBcFUvnoSiB3F91MGVTTRIFK0yx0SglyNoakqhQVTItKWxsi2Mh/7kTtz3T29jcnwSt2xa4+c7i1Z4kYzjR7RxU7lSxob162UdvfDSW/jSE3sRSYbQtaqZ3/uAmlIpTExNEZ8r1xf1JjJAOOHQaBE/OTb0iozI733x7++pWU7P2XgWYzaxEYVHClQCEemdqhDJ3tJCFVHRDQ2FYomNTOS8JhcJxSN4Yf8Z5Ip1fO1wDj89OeJHhkfXunUkjfJ8aQivxpma4hCN85Of+AjuvH4D687FD988xgj5lSHAr1m9iuu4cyWFGGtUAGtPxeFF2v3Uem7fyWwosxb9VTYrFq/MuFhcSAd4uSkUXNW/21uIRrVeRTwaw9M/OiQBzPWFQDyBzz9zDENlOsDV8dArJ2Rlie+CjEqU4nEOSd22kM2ubXzryWly86bVGByv4o9ePo+R6eK849IkDhFV4UCRgqKOWltbENJcrIhgmwRiWQ4mGQmXDCGNZQEqYdJuqQCw2Y1wrnBsWSUShRhVBas4TLV/3ncOFVHcsiUqOD1NWhZeTib4PBd7Cnx2sdKAr5CBVN8n/HMoWaZnK7Acp3E/bWHd/MUrpzBlqfjqM28tDE40XNSKweYpwORmcqjR3gTBjfH5EohHepsoUB+5NZlWSixFniszlHV4zMdTE0XexImvWuXs7bNRjMYeODeOd0ZNfIded2jMWLmKbxy8BC/AxsVO7UWC8NLt+N7rx+dptoX0avNakVbNrK8f7DmBXlK8IBERmNcGZ+Ak0nBrLn5cC8ByvXkwLaRnm/eJ2hDrnTl7jm2ADKgZSUnQokfkigSRYNhZ3CR8eOzgCmtAABmhrgoFV6DEwjRtEyEjKCXFwYFJVEiTD701jadOH4DDWqp4AaxOcSFRW4x0kXrrwMB0g4ohC/fo8RMI8/5YPIbzJvDE6+N4sj2NgVwVXz8wDYVOcs0qzlkahi/lsHZlWtK1SMtIhJlCEBpls2WZaIqFEXTsHglEoeertQqUZCujwYdUKUH0Bjsz/2ftEGkuCKVSlgaJkAZJoQXO5U6UnqdAvOAEECZoTVdkr3C5sCVqh4VaqjiLhJbHaFiSkkXnPj9VwUAtio8/fZapyusjIRiuIAIDTkzHMBvpWjbkOcIXxKI2epnO9pBkCdSpPHR/cPcGScpEGeaFNoFxYdKbYCxRL040iaLtzRsiT9XXWIrgft7DgDMNHFk3Qls5XNAWHZyfhQxxnTLPVqJTi9QI0JByzYbDRgpGOUjjDJ5R1UGBF1eFdnPdRYJQkfcpi+ROjNnjeo2GqLjKoMqiNuhdV9QGPaWz+wrdrVBXcVjA6anZRdQLSYXt6ZAPmk2sLhoUFxJ4xeJiK8gWK9QsbFrdtESeSomiihbqoiUWIN3aqDn+/pfwnekq0suaKOagsUSAyGasNKiDYAK0VfQVecW65ggc8nuAOSdahhaLwmF+KwoDlkiQwWI4nSstGMO7aiz8X7+mA2GLtWW7sGlMhcZUPHG6qIjo8L06ncOOmzbAWzzf1E0EAz6ATo4FnmOhSDqfoTNzTLs8W4Bj1xCnMF2/eoVsjHPZYIuRwXF8GhYzjurIzyWQY898pdeenZVTGymBYeZJdoLQR0wxzVBRdvV52SDwC2XbRnL4tXXs7DSEVhG8JT1p0gmsRPm8qyM21mea5yU/pbdUx7quy8hevYKOovj0TN5X43xDdrQJVDhxc9hFImwwMbSFgNIGwXgixSSNiyh6ykLMmuOhPOhlpakdXoXdmuEyGI0QL0kySuVQfH72EMo2SL6vMvQPbr8WkQozWnRvGkB5SlAmvLoDtVjEwx/tbnjUn1eGhi4gyR4jDBqbnMT2G9ejxZ2FQgeI+5V6DQqdolWK+NPbuwhiISdFOte5prBBREZQscVsENGZBzI1Pd0XJQNAREUUIkVdNBBCmA9yyrM4NF5iXjd6NEEmyW7H+/txbbYFD97RBY0KQBWFyNRQRDTKJdzXHcVdWzvlTjx5XHpwIpeTjhDm2YxAkIX/7d+5HtrMJCNrS1LQCOqzXQF8dHPHgrajsefpBBkCyHYHl0DyJZKUumhfKxUJDQboDZUDFDOQwi0tFzSrJZQLBfTPligxVnHQqfpsxb8Sc9ilgX/+ia1Y25LAXz6zD2N1DSvZjh5kJD53+xbovvCXhS2a28T4OFa1tTeGYQ/9Z87gN67rxE8iAfzj/vOkdBu3rG/DfXdsFtNVYyb2Z5gSMybINuA1UkwojHy5xs+MBSBdHWsPHx5ih+3uRiASlg3Ps+oozUzLWaJKo9VwkF5naF1fycQicfSfPoUPbdyIHR9ej0/x5Lwjt3i8uf1Yxe8rwp7/OLAfKzhfQPElSoi1ODw6hvWdHbipezVu7l7D77QlxT3HMFWm7NTUNNJC/niYT/OZYhWRoJGfT63hM/19YDqIsknEGQ2GME8QIRovdtAzK9fgVNGSUl4WPNMrwoIdn55GTszwHmT3DTPO4hpNSn5fbIpsGL40IXNca0hEaaDid/qDh/roGE0OawK3InuRIl+FkBTsd+jYcTRRkCqLeFywe65CZ5vu4Xkg53c/1htXXSQpAeKcM4ozU1IwhhjKMAs7zoe8Th2kNhaQgGj0inQz/vPoUQyPXfL1kuc1IuCfohMPXhrF8dNn0MyepEknqD73C8DwCfLtvj4WryOVrb/r4snIiEHr0NEjgu6whMMbvb5MZd7VFl866pqFXF9rIooyi7tSrSBF6Vxj3TQlk9K5x2ZqjTHXH3XnPL+qpQ39Z89j70EOU6Rl0dGF1hqfnmE6vY3jJ/uRSSXlff7mVqMzN0bmKKNus3G+zvtnGF2RASK58qzLN99+B2XaEmIdLN67UBoRLVke7QsPLtl88Gq1vurwYE8+FEVLgvqG3hDsZJB1bOKf0JPs+GE4giKlMZDFonDZ1a3Nsi3195/B1Iy/69Ha3IwUczrNBut5C55caAnevFlRKokwn3fs2Ak5IojrUskUZ57Ie+5bCeGi01nnR6dx7PiRpUBWtqX3XhibuCfC4hXaf3xiAi2ZjHxMnaq3YKqYLJtoCxqyJ/izlhiLVX/morXN6SSaxYzt+vOL/FPU+Y0HPxreXAYu2tTzhUiSk18iFm3g9ZZA8BqbH/4Q50LlFHt6eAp3b+nsWwLk0sSF3mB6FZrbM5Lvm9IpqVJrdl0uGGHaTbADt4cVafzcgCTVboMmxQISHItXn5vxGwMmRYvUU/IqUUMNceWyFp1GpBTZpZWGY+YkqjdP+d5cJKnHAoKIHCf/jZ078kuAjP/r3w6uae/I1y0zZVF2RMIRyg1TSgaxKWdTeozR07emY6jUbcn5AyMTGBjPYWymQGaaZl5XpERxhf5iajp0gtBtggdEvcr8JwCxxSN2IcUGtyG2hOS+MGf+oI4YxWs2swJtTQmsaY1hVXMaUWaB61RFG+VpyI5oBMJIJ6J97/lDT0zxemdzhe0r2lppAAVazUSKE2OpMI2Zg/vxyOBJfGV8FEXKD8FSLq/xXFNSj0+tqqRuOVtI20QqsWEZQrP5GkvXA5LxZLq4ioyK4/nCSeoq1uRh45QkAjG5mHRqnYOW2Ha6qqsL11zVgZhRx9WbrkSlWNj7nnu/mU/ufCB8x2ce0TJtcGr+NDjZdwjK6z+CPjstEocUqsvdRrE5IcSb2O8V6leoUrExJ8flOUWnLN6xXrQ7LydTr5E6fnfwe5Qmn6NTHoldTHGr6OZhtoUwM8RxTErCquwt5IddL774nXu3tCXy74rIbZs39r46MoRYKsFZJ4KLr70C99Bb0CbH6FFdeth0Obuz+BcK0JvnkvnddpEAYpxNNslBSuUZFFpuMfOwNurV8sKmm1nnWfN/iywV5H0GQQj1LeSERycZHP5mpiYHY2Fl54V9P9y1pe2Z99+Nz37h2VzLDbemRl5+EbU3fkwRRw3GJBaesikKXdf5P/+6FYkt7B4a9L4weA6stgi0ADQHuDgzkXdc57Hc8Zcf/rl+DE2Wyr2Vl3dvj1G1JFtb5QaZVLBoMBVfZnMTKOWnJDDVCORdy5z7AUb8hHb4fezva3wvDeTRI/QqUFh8zVrhS/E5AfYIQOFILJ9Mph7Lj557NHdmb/7n/qEnvPHj22NB/f5AMCq7sWEYg4FwZEijyNPEJlsk2Fuo1jBU9fKVV762rD/8/+yR2Hh7tnjqtUH8//FLdvyXAAMAMuvTUCGR17IAAAAASUVORK5CYII=);
    float: left;}

.icon-valid-claim{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  content: url("../imgs/helpful_hands.png");
}

textarea[name=suggestion]{
  border: 1px solid black;
  resize: none;
}

.suggestion{
  text-align: center;
}

.suggestion button{
  cursor: pointer;
  width: 200px;
  height: 37px;
  /*background-color: #1c227c;*/
  background-color: #289028;
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-animation: blink_border 1s infinite;  /* Safari 4+ */
  -moz-animation: blink_border 1s infinite;  /* Fx 5+ */
  -o-animation: blink_border 1s infinite;  /* Opera 12+ */
  animation: blink_border 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink_border{
  0%, 49% {
    border: 3px solid black;
  }
  50%, 100% {
    border: 3px solid rgb(117, 209, 63);
  }
}

/* background */
.loading-bg{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.loading-window{
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
  background-color: white;
  width: 350px;
  height: 23%;
  margin-top: -11.5%;
  margin-left: -175px;
  border-radius: 5px;
  text-align: center;
}
.loading-window .title{
  color: #1c227c;
  height: 45px;
  line-height: 45px;
  border-bottom: 2px solid blue;
  margin: 0% 10%;
  font-weight: bold;
  font-size: 20px;
}
.loading-window .img{
  height: 60%;
  background: url("../imgs/Rolling.gif") center no-repeat;
}


