*{
  margin: 0 auto;
  font-family: Cambria, Georgia, Palatino, Linotype;
}

body{
  background-color: #04263a;
  /*background-color: #1f2427;*/
}

#experimento-cdc.content{
  position: fixed;
  background-color: white;
  width: 760px;
  height: 590px;
  border-radius: 9px;
  padding: 8px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -380px;
}

.infoExperiment{
  margin: 3%;
}

body .content .title{
  font-size: 25px;
  width: 67%;
  margin-right: 25%;
  margin-top: 2%;
  padding: 5px;
  margin-left: 6%;
  border-bottom: 8px double #04263a;
  text-align: justify;
}

.photo{
  position: absolute;
  right: 6%;
  top: 8%;
  background: url(../imgs/foto_rosto.png) no-repeat;
  width: 90px;
  height: 90px;
  border-radius: 9px;
  border: 2px solid #053a58;
}

.content .text{
  text-align: justify;
  padding: 5px;
  margin: 3%;
}

.content-term{
  height: 70%;
  text-align: justify;
  padding: 5px;
  margin: 10px;
  overflow-y: scroll;
}

.checkboxBlockConsent{
  text-align: justify;
  padding: 2px;
  margin: 3%;
}

#checkboxConsent{
  transform: scale(1.5);
}

#termConsent{
  position: relative;
  float: right;
  margin-top: -53px;
  margin-right: 3%;
  width: 200px;
  height: 35px;
  font-size: 16px;
  background-color: #053a58;
  color: white;
  border: 2px solid aliceblue;
}
#termConsent:hover{
  border: 4px solid lightgreen;
}

.cursor{
  cursor: pointer;
}

.startExperiment{
  position: absolute;
  width: 93%;
  margin: 0 3%;
}

.startExperiment form{
  display: inline;
}

input[name=termName]{
  height: 29px;
  line-height: 29px;
  font-size: 16px;
  width: 83%;
  float: left;
}

#btContinuar{
  width: 15%;
  height: 35px;
  font-size: 16px;
  float: left;
}

#btCloseTerm{
  width: 100px;
  height: 35px;
  font-size: 14px;
}

.overlay{
  background-color: black;
  opacity: 0.85;
  filter: alpha(opacity=50);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.divTermo{
  display: block;
  background-color: white;
  width: 80%;
  height: 70%;
  z-index: 3;
  position: fixed;
  top: 15%;
  left: 10%;
  border-radius: 9px;
  text-align: center;
}

.divTermo .title{
  font-size: 25px;
  width: 67%;
  margin-top: 5px;
  padding: 5px;
  border-bottom: 2px solid #04263a;
  text-align: center;
}
