.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/sample-banner.jpg") center no-repeat;
  background-size: cover;
  height: 400px; }
  .banner .title {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white; }
  .banner button {
    border: 2px solid rgba(255, 255, 255, 0.7); }
    .banner button:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .banner ul li {
    float: right; }
    .banner ul li .header-link {
      color: #fff; }

.features-content {
  background-color: white;
  color: #73767c;
  padding-top: 100px; }
  .features-content .title {
    text-align: center;
    color: darkblue;
    font-size: 24px; }
  .features-content .description {
    text-align: center;
    margin-top: 30px; }
  .features-content .img-content {
    margin-bottom: 30px; }
  .features-content .img-content img{
    display: block;
    margin: auto;}

.fluid {
  width: 100%; }

.border-radius {
  border-radius: 5px !important; }

.default-bt {
  display: inline-block;
  padding: 10px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .default-bt.no-border {
    border: none; }
  .default-bt.green {
    background-color: #07A68E; }
    .default-bt.green:hover {
      background-color: #057564; }

.gray-bg {
  background-color: #ecf0f1; }

.white-bg {
  background-color: #fff; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.border-radius {
  border-radius: 5px; }

.dashboard-content {
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .dashboard-content .title {
    color: darkblue; }
  .dashboard-content .block {
    padding: 20px; }
    .dashboard-content .block .title {
      color: darkblue;
      font-size: 35px; }
  .dashboard-content .menu {
    padding: 20px; }
    .dashboard-content .menu .item a {
      color: #5e7980; }
  .dashboard-content .new-complaint {
    background-color: #FF6600;
    color: white;
    height: 45px;
    border-radius: 5px;
    cursor: pointer; }
    .dashboard-content .new-complaint:hover {
      background-color: #cc5200; }

.bold {
  font-weight: bold; }

.login-container {
  margin-top: 50px;}
  .login-container .content-form {
    padding-top: 20px;
    padding-bottom: 20px; }
    .login-container .content-form.border-left {
      border-left: 2px solid #ecf0f1; }
  .login-container .title {
    text-align: center;
    color: #334145;
    font-size: 15px;
    font-weight: bold; }
  .login-container input {
    border-radius: 5px !important;
    box-shadow: none !important;
    height: 45px !important;
    font-size: 18px !important; }
  .login-container ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #5e7980;
    text-align: left; }
  .login-container ::-moz-placeholder {
    /* Firefox 19+ */
    color: #5e7980;
    text-align: left; }
  .login-container :-ms-input-placeholder {
    /* IE 10+ */
    color: #5e7980;
    text-align: left; }
  .login-container :-moz-placeholder {
    /* Firefox 18- */
    color: #5e7980;
    text-align: left; }
  .login-container .login-bt {
    background-color: darkblue;
    color: white;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 65px; }
    .login-container .login-bt:hover {
      background-color: #000058; }
  .login-container .new-bt {
    background-color: #FF6600;
    color: white;
    height: 45px;
    border-radius: 5px;
    cursor: pointer; }
    .login-container .new-bt:hover {
      background-color: #cc5200; }

.alert {
  padding: 10px 10px;
  font-weight: 500;
  font-size: 80%;
  margin-bottom: 5px;
  border-radius: 5px; }
  .alert.danger {
    color: #C7254E;
    background-color: #F9F2F4; }
  .alert.success {
    color: #07A68E;
    background-color: #DAF4EB; }

.complaint-block {
  padding: 10px;
  color: #707070; }
  .complaint-block .complaint-title {
    color: #1c227c;
    font-size: 18px; }

.no-margin {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.orange-color {
  color: #FF6600 !important; }

.gray-color {
  color: #707070 !important; }

.green-color {
  color: #07A68E !important; }

.text-center {
  text-align: center; }

.hover-links {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .hover-links:hover {
    color: #FF6600 !important; }

.input-small {
  width: 50%; }

/*index custom alert div*/
.alertBox{
  position: fixed;
  z-index: 9;
  width: 500px;
  height: 190px;
  background-color: white;
  top: 50%;
  border: 2px solid #053a58;
  left: 50%;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  margin-left: -250px;
  margin-top: -100px;
}

button.closeAlert{
  cursor: pointer;
  width: 30%;
  color: white;
  background-color: #053a58;
  border-radius: 5px;
  height: 30px;
  margin: 10px; 
}
