<!DOCTYPE html>
<html>
<head>
  <script src="js/vue@2.3.3"></script>
  <script src="js/axios.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/jquery.mask.js"></script>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Siri Law BR</title>
</head>
<body class="gray-bg">
  <div class="dashboard-content gray-bg">
    <div class="row">
      <div class="large-3 columns">
        <div class="row">
          <div class="columns">
            <div class="white-bg border-radius menu">
              <div class="item margin-bottom-20">
                <a href="/dashboard">Geral</a>
              </div>
              <div class="item margin-bottom-20">
                <a href="/edit">Meus Dados</a>
              </div>
              <div class="item margin-bottom-20">
                <a href="/complaints" class="bold">Minhas Queixas</a>
              </div>
              <div class="item">
                <a class="orange-color" href="/signout">Sair</a>
              </div>
            </div>
          </div>
          <div class="columns margin-top-20">
            <a href="/" class="new-complaint fluid default-bt">NOVA QUEIXA</a>
          </div>
        </div>
      </div>
      <div class="large-9 columns">
        <div class="row">
          <div class="columns">
            <ul class="large-block-grid-4">
              <li>
                <div class="white-bg complaint-block">
                  <div class="complaint-title bold text-center margin-bottom-10">Título</div>
                  <div class="description">
                    Lorem ipsum dolor sit amet, ad magna phaedrum qui. Pri ipsum detracto dissentiunt ne, ignota erroribus ad duo, cum aliquip deseruisse at. Ne ferri sanctus adipiscing mei. Quo at quod noluisse, vim eu amet nihil sadipscing, eum verear invidunt omittantur eu.
                  </div>
                </div>
              </li>
              <li>
                <div class="white-bg complaint-block">
                  <div class="complaint-title bold text-center margin-bottom-10">Título</div>
                  <div class="description">
                    Lorem ipsum dolor sit amet, ad magna phaedrum qui. Pri ipsum detracto dissentiunt ne, ignota erroribus ad duo, cum aliquip deseruisse at.
                  </div>
                </div>
              </li>
              <li>
                <div class="white-bg complaint-block">
                  <div class="complaint-title bold text-center margin-bottom-10">Título</div>
                  <div class="description">
                    Lorem ipsum dolor sit amet, ad magna phaedrum qui. Ne ferri sanctus adipiscing mei. Quo at quod noluisse, vim eu amet nihil sadipscing, eum verear invidunt omittantur eu.
                  </div>
                </div>
              </li>
              <li>
                <div class="white-bg complaint-block">
                  <div class="complaint-title bold text-center margin-bottom-10">Título</div>
                  <div class="description">
                     Pri ipsum detracto dissentiunt ne, ignota erroribus ad duo, cum aliquip deseruisse at. Ne ferri sanctus adipiscing mei. Quo at quod noluisse, vim eu amet nihil sadipscing, eum verear invidunt omittantur eu.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/home.js"></script>
</body>
</html>
