<!DOCTYPE html>
<html>
<head>
  <script src="js/vue@2.3.3"></script>
  <script src="js/axios.min.js"></script>
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/jquery.mask.js"></script>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Siri Law BR</title>
</head>
<body class="gray-bg">
  <div class="dashboard-content gray-bg">
    <div class="row">
      <div class="large-3 columns">
        <div class="row">
          <div class="columns">
            <div class="white-bg border-radius menu">
              <div class="item margin-bottom-20">
                <a href="/dashboard">Geral</a>
              </div>
              <div class="item margin-bottom-20">
                <a href="/edit">Meus Dados</a>
              </div>
              <div class="item margin-bottom-20">
                <a href="/mural_queixas" class="bold">Mural de Queixas</a>
              </div>
              <div class="item">
                <a class="orange-color" href="/signout">Sair</a>
              </div>
            </div>
          </div>
          <div class="columns margin-top-20">
            <a href="/" class="new-complaint fluid default-bt">NOVA QUEIXA</a>
          </div>
        </div>
      </div>
      <div class="large-9 columns">
        <div class="row">
          <div class="columns margin-bottom-20">
            <div class="white-bg border-radius block">
              <a class="gray-color hover-links" href="/mural_queixas?owner=true">Minhas Queixas</a>
              <span>|</span>
              <a class="gray-color hover-links" href="/mural_queixas">Geral</a>
            </div>
          </div>
        </div>
        <div class="row">
          <% for (var i = 0; i < data.length; i++) { %>
            <div class="columns margin-bottom-10">
              <div class="white-bg block complaint-block">
                <div class="complaint-title text-center bold"><%= data[i].subject %></div>
                <div><%= data[i].claim_text %></div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/home.js"></script>
</body>
</html>
