<!DOCTYPE html>
<html>
<head>
  <script src="js/vue@2.3.3"></script>
  <script src="js/axios.min.js"></script>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Siri Law BR</title>
</head>
<body class="gray-bg">
  <div class="dashboard-content gray-bg">
    <div class="row">
      <div class="large-3 columns">
        <div class="row">
          <div class="columns">
            <div class="white-bg border-radius menu">
              <div class="item margin-bottom-20">
                <a href="/dashboard" class="bold">Geral</a>
              </div>
              <div class="item margin-bottom-20">
                <a href="/edit">Meus Dados</a>
              </div>
              <div class="item margin-bottom-20">
                <a href="/mural_queixas">Mural de Queixas</a>
              </div>
              <div class="item">
                <a class="orange-color" href="/signout">Sair</a>
              </div>
            </div>
          </div>
          <div class="columns margin-top-20">
            <a href="/" class="new-complaint fluid default-bt">NOVA QUEIXA</a>
          </div>
        </div>
      </div>
      <div class="large-9 columns">
        <div class="row">
          <div class="columns">
            <div class="white-bg border-radius">
              <div class="block">
                <% if (sessionFlash && sessionFlash.message) { %>
                  <div class="row no-margin">
                    <div class="columns alert <%= sessionFlash.type %>">      
                      <%= sessionFlash.message %>         
                    </div>
                  </div>
                <% } %>
                <div class="title">
                  Olá 
                  <% if(user && user.name ) { %>
                    <%= user.name %>
                  <% } %>
                </div>
                <p class="margin-top-20">Esse é seu dashboard contento suas últimas atividades</p>
              </div>
            </div>
            <div class="white-bg border-radius margin-top-20">
              <div class="block">
                <div class="title margin-bottom-20">Últimas Queixas</div>
                <table>
                  <thead>
                    <tr>
                      <th>Queixa</th>
                      <th>Data</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Exemplo de queixa</td>
                      <td>19/11/2017</td>
                      <td>Satisfatório</td>
                    </tr>
                    <tr>
                      <td>Exemplo de queixa</td>
                      <td>20/11/2017</td>
                      <td>Bom</td>
                    </tr>
                    <tr>
                      <td>Exemplo de queixa</td>
                      <td>21/11/2017</td>
                      <td>Insatisfeito</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
